<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="bird" class="Bean.bird">
        <property name="name" value=" 我是一只小鸟"/>

    </bean>

    <bean name="fly" class="Bean.Fly">


    </bean>

</beans>